.encabezado{
    width: 95%;
}

.card{
    width: 23%;
}

.example-header-image{
    background-image: url("../../../assets/dashboard-user.png");
    background-size: cover;
}

.example-header-image1{
    background-image: url("../../../assets/dashboard-user.png");
    background-size: cover;
    width: 21%;
    height: 45px;

}

.example-header-image2{
    background-image: url("../../../assets/dashboard-sensor.png");
    background-size: cover;
    width: 25%;
    height: 50px;
}

.example-header-image3{
    background-image: url("../../../assets/dashboard-variable.png");
    background-size: cover;
    width: 20%;
    height: 45px;
}


.example-header-image4{
    background-image: url("../../../assets/dashboard-lugar.png");
    background-size: cover;
    width: 25%;
    height: 50px;
}
