.mdb-color.lighten-3 {
    background-color: #929fba !important;
}

.footer.page-footer {
    bottom: 0;
    color: #fff;
}

.font-small {
    font-size: .9rem;
}

.mdb-color {
    background-color: #45526e !important;
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.rgba-white-light, .rgba-white-light:after {
    background-color: rgba(255,255,255,0.3);
}

