.background-fondo{
    background-image: url("../../../assets/background-logeo.JPG");
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-rounded{
    border-radius: 20px
}

.img-circle{
    border-radius: 50%
}

.opacidad {
    opacity: 0.92;
    background-color:white;
    text-align: center;
  }
