<mat-toolbar class="w-100">
    <div class="d-flex bar-ele">
        <!-- *ngIf="sidenav.mode === 'over'" -->
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                menu
            </mat-icon>
        </button>
        <div class="d-flex align-items-center">MongoIOT Responsive</div>
    </div>

    <div class="bar-ele2">
        <div class="d-flex justify-content-end">
            <div class="mx-3 d-flex align-items-center">
                <mat-icon matBadgeColor="primary">
                    <mat-icon>search</mat-icon>
                </mat-icon>
            </div>
            <div class="mx-3 d-flex align-items-center">
                <mat-icon matBadge="2" matBadgeColor="primary">
                    <mat-icon>language</mat-icon>
                </mat-icon>
            </div>
            <div class="mx-3 d-flex align-items-center">
                <mat-icon matBadge="5" matBadgeColor="primary">
                    notifications
                </mat-icon>
            </div>
            <div class="mx-3 d-flex align-items-center">
                <mat-icon matBadgeColor="primary">
                    <mat-icon>help</mat-icon>
                </mat-icon>
            </div>
            <div class="mx-3">
                <button mat-raised-button routerLink="/"><mat-icon>power_settings_new</mat-icon> Salir</button>
            </div>

        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div class="my-3">
            <img class="avatar mat-elevation-z8" src="{{fotourl}}" />
        </div>

        <div class="my-3">
            <h4 class="name" *ngIf="usuarioLogin">{{usuarioLogin.name}} {{usuarioLogin.surname}}</h4>
            <p class="designation">Analista</p>
        </div>


        <mat-divider></mat-divider>

        <button mat-button class="menu-button my-2" routerLink="dashboard" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button my-2">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        <button mat-button class="menu-button my-2" routerLink="distrito" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            <span>Distritos</span>
        </button>

        <button mat-button class="menu-button my-2" routerLink="sensor" routerLinkActive="active">
            <mat-icon>pageview</mat-icon>
            <span>Sensores</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Acerca</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <div class="w-100 d-flex flex-column">

                <div class="w-100 ">
                    <div class="w-100 d-flex justify-content-center">
                        <div class="body">
                            <div class="w-100">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>